

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('moreinfo.jpg') ; background-size: cover;height: 190vh;
    background-repeat: no-repeat;
    color: whitesmoke;
  }
*
{
  padding: 0;
  margin: 0;
  text-decoration: none;list-style: none;
  box-sizing: border-box;
}
nav
{
background: #282929;
height: 90px;
width: 100%;
}
label.logo
{
  color: whitesmoke;
  font-size: 40px;line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li
{
  display: inline-block;
  line-height: 80px;margin: 0 5px;
}
nav ul li a
{
  color: whitesmoke;
  font-size: 18px;
  padding: 7px 15px;
  border-radius: 3px;
}
nav ul li a:hover
{
  background-color: rgb(109, 106, 106);
  color: rgb(216, 209, 209);
  transition: 0.6s ease;
}
.overlay1
{
background-color: #313b3b90;
height: 177vh;
}
#p1,#p3,#p2
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 3%;padding-left: 3%;
}
#k1,#k2,#k3
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding-top: 3%;padding-left: 3%;
}
.ser ul li:nth-child(odd)
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.2rem;font-weight: bold;
  padding-top: 1%;padding-left: 3%;
}
.ser ul li:nth-child(even)
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding-top: 1%;padding-left: 3%;
}